<div id="welcome" class="hero-unit span7">
 
  <%= image_tag "nerd1.jpg" %>
  <h1>Genius Overflow</h1>
  <h3>On demand hacker support desk</h3>
</div>
<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan silver"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li><i class="icon-ok"></i> Unlimited email support</li>
      <li><i class="icon-ok"></i> 48 hour response time</li>
    </ul>
    <h3>$49/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan gold"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li><i class="icon-ok"></i> Unlimited email support</li>
      <li><i class="icon-ok"></i> 48 hour response time</li>
      <li><i class="icon-ok"></i> One hour of phone support per month</li>
    </ul>
    <h3>$99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan platinum"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li><i class="icon-ok"></i> Unlimited email support</li>
      <li><i class="icon-ok"></i> 24 hour response time</li>
      <li><i class="icon-ok"></i> Four hours of phone support per month</li>
    </ul>
    <h3>$299/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>