.plans{
  text-align: center;
}
.featured{
  -webkit-transform:scale(1.15); 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
}
.plan{
  background-color: #111575;
}
.plan.featured-plan{
  background-color: #CCAB00;
}
.silver {
  background-image: url(/assets/silver.jpg);
}
.gold {
  background-image: url(/assets/gold.jpg);
}
.platinum {
  background-image: url(/assets/platinum.jpg);
}
.plan h2{
  line-height: 100px;
  color: black;
}